
/*--------- LOGO ---------*/ 
header {
    background-color: white;
    height: 80px;
}

#logo {
    vertical-align: middle;  
    margin-left: 0;  
}

h1{
    vertical-align: middle;
    display: inline-block;
    font-family: 'Roboto', sans-serif;;
}

/*--------- LOGO ---------*/ 

body {
    background-color:#f6f8f9 ;
    margin: 0;
}

.container {
    margin: auto;
    width: 850px;
    height: 1000px;
    background-color: red;
    margin-top: 40px;
}

.button-box {
    height: 80px;
    line-height: 80px;
    background-color: white;
    padding-left: 50px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;

}

#button-task {
    text-align: center;
    color: white;
    background-color: #14aaf5 ;
    border-width: 1px;
    border-color: #14aaf5;
    padding-inline: 12px;
    padding-block: 8px;
    border-radius: 15%;
    
}

#button-section {
    text-align: center;
    color: #c6cdd2;
    background-color: white ;
    border-width: 1px;
    border-color: #c6cdd2 ;
    padding-inline: 12px;
    padding-block: 8px;
    border-radius: 15%;   
}

.main-box {
    background-color: white;
    height: 925px;
    margin-top: 2px;
    padding-left: 50px;
    
}

.liste {
    padding-top: 20px;
}

.checked::before {
    content: /2713;
}